## concatination  of string

In [2]:
a="lakshmi"
b="parimala"
c=a+b
print(c)

lakshmiparimala

### greatest among three values

In [10]:
a=input()
b=input()
c=input()
if a==b==c:
    print("equal")
elif a>b:
    print("a is greater")
elif b>c:
    print("b is greater")
else:
    print("c is greater")

22
11
33
a is greater

### calender

In [14]:
import calendar
year=2019
month=9
c=calendar.month(year,month)
print(c)

   September 2019
Mo Tu We Th Fr Sa Su
                   1
 2  3  4  5  6  7  8
 9 10 11 12 13 14 15
16 17 18 19 20 21 22
23 24 25 26 27 28 29
30

### input from user

In [2]:
import calendar
year=int(input())
month=int(input())
print(calendar.month(year,month))

2019
9
   September 2019
Mo Tu We Th Fr Sa Su
                   1
 2  3  4  5  6  7  8
 9 10 11 12 13 14 15
16 17 18 19 20 21 22
23 24 25 26 27 28 29
30

### loop concepts

In [21]:
for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

x=["lakshmi","parimala"]
y=["electrical","engineer"]
for i in x:
    for j in y:
     print(x,y)

### functions concept

In [ ]:
def functionname(parameters):
    return statement
functionname()

In [43]:
def sub(x,y):
    c=x-y
    return c
a=30
b=10
sub(a,b)

20

### input from user

In [45]:
def sub(x,y):
    c=x-y
    return c
a=int(input())
b=int(input())
sub(a,b)

30
10

20

### arthematic operations using functions

In [3]:
def add(a,b):
    c=a+b
    return c
def mul(a,b):
    c=a*b
    return c
def div(a,b):
    c=a/b
    return c
a=int(input("enter A value"))
b=int(input("enter B value"))
print(add(a,b))
print(mul(a,b))
print(div(a,b))

enter A value10
enter B value2
12
20
5.0